#version=RHEL7
auth --enableshadow --passalgo=sha512
rootpw vagrant
firstboot --disable

url --url="http://mirror.aarnet.edu.au/pub/centos/7/os/x86_64"
repo --name="update" --baseurl=http://mirror.aarnet.edu.au/pub/centos/7/updates/x86_64

keyboard --vckeymap=us --xlayouts='us'
lang en_AU.UTF-8

network  --bootproto=dhcp --ipv6=auto --activate
services --enabled="chronyd"

timezone Australia/Adelaide --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

bootloader --location=mbr --boot-drive=sda
clearpart --all --initlabel
autopart --type=lvm

%packages
@core
chrony

# for VirtualBox guest additions
gcc
kernel-devel
kernel-headers
bzip2


%post
yum update -y

groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant

echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i'' "s/^Defaults requiretty/#Defaults requiretty/" /etc/sudoers

yum clean all
%end
